<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ city }}租房</title>
    {% for jsfile_name in script_list %}
    <script src="{{host}}/{{jsfile_name}}.js"></script>
    {% endfor %}
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/houseshow.css">
    <link rel="stylesheet" type="text/css" href="/static/css/citylist.css">
</head>
<body>
    <div>
        <div>
            <a class="xfull" href="/">首页</a>
        </div>
        <div id="sub-header" style="position: absolute;left: 80px;top: 0px;">
            <dl class="changeCityList">
                <dt><span id="curCityName" style="color: #ffe8fe">{{ city }}</span></dt>
                <dd>
                    <a href="/city广州/" class="bor" style="color: #ffe8fe;">广州<b><s class="ani"></s></b></a>
                    <a href="/city深圳/" class="bor" style="color: #ffe8fe;">深圳<b><s class="ani"></s></b></a>
                </dd>
            </dl>
        </div>
        <div style="position: absolute; top: 40px;left: 60%;">
            <a class="showall" href="selecthouse/">点击选房</a>
        </div>
        <div id="listing-filters" class="compat open" style="position: absolute;left: 0px; top: 30px; width: 60%">
            <fieldset style="height: 36px">
                <div class="links" style="height: 26px;">
                <a class="checked">区域</a>
                {% for i in zone_list %}
                    {% if i == zone %}
                    <a class="checked" href="{{ i }}info/" style="color: #ffe8fe">{{ i }}</a>
                    {% else %}
                        <a href="{{ i }}info/" style="color: #ffe8fe">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            </fieldset>
            <fieldset style="height: 36px">
                <div class="links" style="height: 26px;">
                <a class="checked">户型</a>
                {% if housetype == '一室' %}
                    <a class="checked" href="yishiinfo/" style="color: #ffe8fe">一室</a>
                {% else %}
                    <a href="yishiinfo/" style="color: #ffe8fe">一室</a>
                {% endif %}
                {% if housetype == '二室' %}
                    <a class="checked" href="eshiinfo/" style="color: #ffe8fe">二室</a>
                {% else %}
                    <a href="eshiinfo/" style="color: #ffe8fe">二室</a>
                {% endif %}
                {% if housetype == '三室' %}
                    <a class="checked" href="sanshiinfo/" style="color: #ffe8fe">三室</a>
                {% else %}
                    <a href="sanshiinfo/" style="color: #ffe8fe">三室</a>
                {% endif %}
                {% if housetype == '四室' %}
                    <a class="checked" href="sishiinfo/" style="color: #ffe8fe">四室</a>
                {% else %}
                    <a href="sishiinfo/" style="color: #ffe8fe">四室</a>
                {% endif %}
                {% if housetype == '四室以上' %}
                    <a class="checked" href="wushiinfo/" style="color: #ffe8fe">四室以上</a>
                {% else %}
                    <a href="wushiinfo/" style="color: #ffe8fe">四室以上</a>
                {% endif %}
            </div>
            </fieldset>
            <fieldset style="height: 36px">
                <div class="links" style="height: 26px;">
                <a class="checked">价格</a>
                {% if price == '1000' %}
                    <a class="checked" href="0-1000元info/" style="color: #ffe8fe">0-1000元</a>
                {% else %}
                    <a href="0-1000元info/" style="color: #ffe8fe">0-1000元</a>
                {% endif %}
                {% if price == '1500' %}
                    <a class="checked" href="1000-1500元info/" style="color: #ffe8fe">1000-1500元</a>
                {% else %}
                    <a href="1000-1500元info/" style="color: #ffe8fe">1000-1500元</a>
                {% endif %}
                {% if price == '2000' %}
                    <a class="checked" href="1500-2000元info/" style="color: #ffe8fe">1500-2000元</a>
                {% else %}
                    <a href="1500-2000元info/" style="color: #ffe8fe">1500-2000元</a>
                {% endif %}
                {% if price == '2500' %}
                    <a class="checked" href="2000-2500元info/" style="color: #ffe8fe">2000-2500元</a>
                {% else %}
                    <a href="2000-2500元info/" style="color: #ffe8fe">2000-2500元</a>
                {% endif %}
                {% if price == '3000' %}
                    <a class="checked" href="2500-3000元info/" style="color: #ffe8fe">2500-3000元</a>
                {% else %}
                    <a href="2500-3000元info/" style="color: #ffe8fe">2500-3000元</a>
                {% endif %}
                {% if price == '4000' %}
                    <a class="checked" href="3000-4000元info/" style="color: #ffe8fe">3000-4000元</a>
                {% else %}
                    <a href="3000-4000元info/" style="color: #ffe8fe">3000-4000元</a>
                {% endif %}
                {% if price == '5000' %}
                    <a class="checked" href="4000-5000元info/" style="color: #ffe8fe">4000-5000元</a>
                {% else %}
                    <a href="4000-5000元info/" style="color: #ffe8fe">4000-5000元</a>
                {% endif %}
                {% if price == '100000' %}
                    <a class="checked" href="5000-100000元info/" style="color: #ffe8fe">5000-100000元</a>
                {% else %}
                    <a href="5000-100000元info/" style="color: #ffe8fe">5000-100000元</a>
                {% endif %}
            </div>
            </fieldset>
            <fieldset style="height: 36px">
                <div class="links" style="height: 26px;">
                <a class="checked">面积</a>
                {% if area == '50' %}
                    <a class="checked" href="0-50㎡info/" style="color: #ffe8fe">50㎡以下</a>
                {% else %}
                    <a href="0-50㎡info/" style="color: #ffe8fe">50㎡以下</a>
                {% endif %}
                {% if area == '100' %}
                    <a class="checked" href="50-100㎡info/" style="color: #ffe8fe">50-100㎡</a>
                {% else %}
                    <a href="50-100㎡info/" style="color: #ffe8fe">50-100㎡</a>
                {% endif %}
                {% if area == '150' %}
                    <a class="checked" href="100-150㎡info/" style="color: #ffe8fe">100-150㎡</a>
                {% else %}
                    <a href="100-150㎡info/" style="color: #ffe8fe">100-150㎡</a>
                {% endif %}
                {% if area == '200' %}
                    <a class="checked" href="150-200㎡info/" style="color: #ffe8fe">150-200㎡</a>
                {% else %}
                    <a href="150-200㎡info/" style="color: #ffe8fe">150-200㎡</a>
                {% endif %}
                {% if area == '300' %}
                    <a class="checked" href="200-300㎡info/" style="color: #ffe8fe">200-300㎡</a>
                {% else %}
                    <a href="200-300㎡info/" style="color: #ffe8fe">200-300㎡</a>
                {% endif %}
                {% if area == '4000' %}
                    <a class="checked" href="300-4000㎡info/" style="color: #ffe8fe">300㎡以上</a>
                {% else %}
                    <a href="300-4000㎡info/" style="color: #ffe8fe">300㎡以上</a>
                {% endif %}
            </div>
            </fieldset>
        </div>
        <div>
            <div style="position: absolute;top: 30%;">
                <img src="/static/img/house.jpg" style="width: 20px;height: 20px">
                <div style="color: #ffe8fe;font-size: 15px;">房子总数（个）</div>
                <div style="color: #ffe8fe;font-size: 22px">{{ house_num }}</div>
            </div>
            <div style="position: absolute;top: 30%;left:10%">
                <img src="/static/img/money.jpg" style="width: 20px;height: 20px">
                <div style="color: #ffe8fe;font-size: 15px;">平均租金（元/户/月）</div>
                <div style="color: #ffe8fe;font-size: 22px">{{ averge_price }}</div>
            </div>
            <div style="position: absolute;top: 30%;left:22%">
                <img src="/static/img/area.jpg" style="width: 20px;height: 20px">
                <div style="color: #ffe8fe;font-size: 15px;">平均租房面积（㎡/户）</div>
                <div style="color: #ffe8fe;font-size: 22px">{{ averge_area }}</div>
            </div>
        </div>
        <div style="position: absolute;top: 300px;">
            {{ myechart|safe }}
        </div>
    </div>
</body>
</html>